.login-page{
     background:url(../../images/login-bg1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 100%;
     width: 100%;
     position: absolute;
     .login-left{
          img{
          left: 50%;
          top: 50%;
          margin-left: -45%;
          position: absolute;
          margin-top: -15%;
          top: 50%;
          }
          .login-btn{
          display: grid;
          width: 80px; 
          position: absolute;
          right: 33%;
          top: 100px;
          button{
               margin: 5px 0px;
               padding: 2px;
               font-size: 12px;
               border-radius: 0px;
               background-color: #ffffff;
               color:#000000;
          }
          }
     }
     .login-right{
          background: #ffffff;
          position: absolute;
          height: 100%;
          right:0px;
          padding: 0px;
          .login-form{
          top: 50%;
          position: absolute;
          margin-top: -25%;
          margin-left: 15%;
          margin-right: 15%;
          width: 70%;
          padding: 0px;
          }
          .registor-form{
               top: 35%;
               position: absolute;
               margin-top: -25%;
               margin-left: 15%;
               margin-right: 15%;
               width: 70%;
               padding: 0px;
          }
     }
}